<h3>Q1. Basic Variable Assignment</h3>
Assign values to variables (age, name, is_student, gpa, courses) and print their types using
type().

In [5]:
age = 26
name = 'John'
is_student = True
gpa = 8.7
courses = ('Psychology', 'Mathematics', 'Biology', 'Economics')
print(type(age))
print(type(name))
print(type(is_student))
print(type(gpa))
print(type(courses))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'tuple'>

<h3>Q2. Datatypes Identification </h3><br>
100 -> int <br>
3.14 -> float <br>
'c' -> str <br>
'Hello' -> str <br>
True -> bool <br>
None -> NoneType <br>
(1,2,3) -> tuple <br>
{'a':1} -> dict <br>

<h3>Q3. Keywords check</h3>
<p>Import the keyword module and write a program that checks if a word is a Python keyword.</p>

In [19]:
import keyword

word = input('Enter a word : ')
if keyword.iskeyword(word):
    print('Yes ', word, ' is a keyword')
else:
    print('Not a keyword')

Enter a word :  if

Yes  if  is a keyword

<h3> Q4. Literals Classification </h3>
<p>Given a literal as string input, classify it as Integer, Float, String, Boolean, None, or Other.</p>

In [28]:
num = '123'
print('Integer: ', int(num))
print('Float: ', float(num))
print('String: ', str(num))

Integer:  123
Float:  123.0
String:  123

In [29]:
print('Boolean:', bool(num)

_IncompleteInputError: incomplete input (2476354332.py, line 1)

In [30]:
print('None:', None(num))

<>:1: SyntaxWarning: 'NoneType' object is not callable; perhaps you missed a comma?
C:\Users\Ayoush Paul\AppData\Local\Temp\ipykernel_8788\494198750.py:1: SyntaxWarning: 'NoneType' object is not callable; perhaps you missed a comma?
  print('None:', None(num))

TypeError: 'NoneType' object is not callable

<h3>Q5. Type Casting Basics</h3>
<P>Demonstrate explicit casting between int, float, str, and bool with valid and invalid cases.</P>

In [48]:
a = 3.7
print(int(a))

b = "42"
print(int(c))   

c = True
print(int(c)) 

d = "hello"
print(int(d))

3
0
1

ValueError: invalid literal for int() with base 10: 'hello'

In [46]:
a = 10
print(float(a))

b = "3.14"
print(float(b))

c = False
print(float(c))

d = "abc"
print(float(d))

10.0
3.14
0.0

ValueError: could not convert string to float: 'abc'

In [49]:
a = 123
print(str(a))

b = 3.14
print(str(b))

c = True
print(str(c))

123
3.14
True

In [50]:
a = 0
print(bool(a)) 

b = 42
print(bool(b))

c = "Hello"
print(bool(c))

False
True
True

<h3>Q6 â€” Mixed Types Arithmetic</h3>
Perform addition based on input type: numeric addition or string concatenation.

In [55]:
a = 12
b = 2
c = '2'
d = '4'
print(a + b)
print(c + d)
print(type(c+d))

14
24
<class 'str'>

<h3>Q7. Temperature Converter</h3>
Convert between Celsius and Fahrenheit using user input and type conversion.

In [60]:
cel = int(input('Enter Celcius:'))
fah = cel * (9/5) + 32
print(float(fah))

Enter Celcius: 24

75.2

<h3>Q8. Variables & Mutability </h3>
Explain mutable vs immutable with code showing list (mutable) and tuple (immutable)
behavior.

In [63]:
# Mutable in python means we can change the value.
l = [1,'hello',2.25,True]
l[2] = 3
print(l)

[1, 'hello', 3, True]

In [65]:
# Immutable in python means we cannot change the value.
t = (1,'hello',2.25,True)
t[2] = 4
print(t)

TypeError: 'tuple' object does not support item assignment

<h3>Q9. Input Validation (type casting + condition)</h3>
Take age as input, validate numeric, and classify into Child, Teenager, Adult, or Senior.

In [68]:
age = int(input('Enter Age: '))
if age <= 12:
          print('Child')
elif age > 12 and age < 18:
          print('Teenager')
elif age >= 18 and age < 60:
        print('Adult')
else:
    print('Senior')

Enter Age:  13

Teenager

<h3>Q10. Keywords & Identifiers</h3>
Explain valid Python identifiers and write code to check invalid ones or keywords. <br>
<br>
Identifier is a name given to a variable to identify names in the program <br>
<!-- valid python identifiers -->
myVar - camel case -> Here first word starts with small letter and in all words first letter is capital.<br>
MyVar - Pascal case -> Here every first letter in a word is capital.<br>
my_var - snake case -> here we put underscore after each word.

In [69]:
1myVar = 12
my-var = 3
my@var = 2
if = 2
my var = 12

SyntaxError: invalid decimal literal (3963076522.py, line 1)

<h3>Q11. Advanced: Expression Parser</h3>
Accept simple expressions like '12 * 3.5' and evaluate using type casting and exception handling.

In [72]:
a = '12 * 3.5'
print(float(a))

ValueError: could not convert string to float: '12 * 3.5'